.App {
  text-align: center;
}
 * {
  margin:0;

}
.spinner {
  height: 40vmin;
  pointer-events: none;
  
  
}

@media (prefers-reduced-motion: no-preference) {
  .spinner-spin {
    animation: spinner-spin infinite .5s linear;
    transform-origin: center;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  height: 50vh;
  min-width: 100vw;
  /* background-size: cover; */
  /* background-image: url(../public/home-banner.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover; */
}

.card-container {
  max-height: 50vh;
  max-width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 5px;
  justify-content: space-evenly;
  overflow: hidden;
   /* background: #780206; 
  background: -webkit-linear-gradient(
    to right,
    #061161,
    #780206
  ); 
  background: linear-gradient(
    to right,
    #061161,
    #780206
  );   */
 /* background-color: rgb(120,38,114); */
}
/* 
.card{
  height:450px;
  width: 240px;
  background-color: #b3c5e7;
  border:3px solid orange;
  margin-top: 30px;
  border-radius: 10%;

} */

.card {
  width: 200px;
  height: 300px;
  background-color: #f0f0f0;
  border: 15px solid transparent; /* Initial transparent border */
  border-radius: 10px;
  position: relative;
  cursor: pointer;

  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 50px;
  box-shadow: 10px 10px 20px rgba(35, 34, 23, 0.3);

  animation: glow 1s infinite alternate,
    floatingAnimation 1s infinite alternate ease-in-out;
  border: 2px solid #00aaff; /* Glow color */
}
/* .card::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: 5px solid #e4c01d;
  opacity: 0;
  transform: scale(0);
  transition: transform .8s, opacity 0.3s;
} */

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0px 10px 20px rgba(234, 38, 38, 0.3);
  animation: glow 4s infinite alternate;
  border: 2px solid #fbff00; /* Glow color */
}
.card:hover::before {
  transform: scale(1);
  opacity: 1;
}
@keyframes glow {
  from {
    box-shadow: 0 0 15px #ffff00; /* Initial shadow size and color */
  }
  to {
    box-shadow: 0 0 25px #ffd900; /* Glow shadow size and color */
  }
}

.inner-container {
  height: 500px;
  width: 1000px;
  display: flex;
  justify-content: space-around;
}

@keyframes floatingAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* .card-image-container {
  height: 400px;
  width: 600px;
} */

.banner-image {
  height: 50vh;
  width: 100%;
}

.card-image {
  height: 100%;
  width: 100%;
  border-radius: 4% 4% 0 0;
}

/* button{
  height: 60px;
  width: 150px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
   border-radius: 23px;
   margin-top: 45px;
} */

.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  height: 60px;
  width: 120px;
  padding: 15px 50px;
  background-image: linear-gradient(
    -225deg,
    #ff3cac 0%,
    #562b7c 52%,
    #2b86c5 100%
  );
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  margin-top: 40px;
  top: 60%;

  /* transform: translate(-50%, -150%); */
}

.button span {
  display: inline-block;
  position: relative;
  font-size: 20px;
  z-index: 1;
  text-align: center;
  animation: textAnimation 2s infinite;
  background-image: linear-gradient(to top, #d9afd9 0%, #f7df56 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.button:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: scale(0.95) translate(-50%, -150%);
  box-shadow: none;
}

@keyframes textAnimation {
  0%,
  100% {
    filter: brightness(1);
    transform: scale(1);
  }
  50% {
    filter: brightness(1.5);
    transform: scale(1.05);
  }
}

.tv-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.watch-image {
  background-size: contain;

  object-fit: contain;
}

.grandPrize {
  height: 50vh;
  width: 100%;
}

.grandprize-image {
  height: 50vh;
  width: 100%;
}

.grand-page-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.grand-page-card-container .card{
  margin-top: 25px;
}



.spinner-container{
 cursor: pointer;
}
.spinner-container img{
  margin-top: 55px;
 
}

.items-container{
  height: 50vh;
  width: 100%;
  position: absolute;
  top:5px;
  left:20px;

  /* background-image: linear-gradient(to bottom, #872e31, #a02c32, #b92832, #d22031, #eb122f); */
 /* background-image: url("../public/grandprize-down-portion.gif"); */
 background-size: cover;
 background-repeat: no-repeat;
 object-fit: cover;
}
.grandprize-down-portion{
  height: 50vh;
  width: 100%;
  position: relative;


}

.grand-down-image{
  height:50vh;
  width: 100%;
}


.announce-prize-image{
  height:320px;
  width: 500px;
  opacity: 1;
  overflow: hidden;
  transition: opacity 0.5s, height 0.5s;
}

.wholepage{
  position: relative;
 

}

.grand-winners-image{
  height:450px;
  width: 700px;
  margin-top: 3px;
  background-size: cover;
}




/* .transition-announce{
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s, max-height 0.5s;


}


.transition-winners{
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s, max-height 0.5s;

} */

.transition-element {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  cursor: pointer;
 
  transition: opacity 3s ease, max-height .5s ease;

}
.transition-element img{
  margin-top: 35px;
}



.transition-element.show {
  opacity: 1;
  max-height: 500px; /* Adjust the value as needed */
  transition: opacity 3s ease, max-height .5s ease;
}


.yet-to-implement-div{
  height: 100vh;
  width: 100%;
  background-color: #b69dde;
}

.yet-to-implement-div h1{
  font-size: 100px;
  font-weight: 600;
  color: rgb(64, 88, 64);
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-down-portion{
  height: 50vh;
  width: 100%;
  position: relative;
  overflow: hidden;
 
  
}

.home-down-image{
  height: 50vh;
  width: 100%;
  position: absolute;
  z-index: -1;
 
}


.nav-buttons-container{
  position: absolute;
  height: 80px;
  width: 350px;
  top: 36px;
  left: 175px;
  display: flex;
  justify-content: flex-start;
  
}
.nav-buttons-container button{
  height: 48px;
  width: 130px;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
   font-family:Verdana, Geneva, Tahoma, sans-serif
}

 
/* Medium-sized home button with gradient background */
.medium-home-button {
  display: inline-block;
  /* padding: 12px 2px; */
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: #161212;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-image: linear-gradient(45deg, #cca8a8, #d0ac88, #655c6f, #cccbd9, #4a4a89, #b082d4);

  transition: background-color 0.3s, transform 0.3s;
}

/* Hover effect */
.medium-home-button:hover {
  background-image: linear-gradient(45deg, #ff6b6b, #3e625e);
}

/* Active effect */
.medium-home-button:active {
  transform: scale(0.95);
  color: #f6f2f2;
  font-weight: 900;
}


.outer{
  max-height: 100vh;
  width: 100%;
}